[Desktop Entry]
Type=Application
Terminal=false
Exec=in-formant
Name=InFormant
Comment=Real-time formant tracking and voice analysis software
Icon=in-formant
Categories=Utility;Audio;Science;
