[submodule "oboe"]
	path = external/oboe
	url = https://github.com/google/oboe
	branch = 1.4.3
[submodule "freetype"]
	path = external/freetype
	url = https://git.sv.nongnu.org/r/freetype/freetype2.git
	branch = VER-2-10-2
[submodule "r8brain-free-src"]
	path = external/r8brain-free-src
	url = https://github.com/avaneev/r8brain-free-src
	branch = master
[submodule "external/tomlplusplus"]
	path = external/tomlplusplus
	url = https://github.com/marzer/tomlplusplus
[submodule "docker/windeployqt"]
	path = docker/windeployqt
	url = https://github.com/clo-yunhee/windeployqt
[submodule "docker/docker/macdeployqt"]
	path = docker/docker/macdeployqt
	url = https://github.com/clo-yunhee/macdeployqt
[submodule "docker/macdeployqt"]
	path = docker/macdeployqt
	url = https://github.com/clo-yunhee/macdeployqt
[submodule "docker/libs-corebase"]
	path = docker/libs-corebase
	url = https://github.com/clo-yunhee/libs-corebase
[submodule "docker/libs-base"]
	path = docker/libs-base
	url = https://github.com/clo-yunhee/libs-base
[submodule "external/rpmalloc"]
	path = external/rpmalloc
	url = https://github.com/mjansson/rpmalloc
